* {
    margin: 0px;
    padding: 0px;
  }

  body {
    overflow-x: hidden;
  }

  /*sAyskant section */

  .prsFaintText {
    color: #757575;
  }

  #prsAyskantMain {
    margin: 10px;
  }

  #prsAyskant {
    margin: auto;
    width: 90%;
  }

  #prsAyskant a {
    text-decoration: none;
    color: #2e3337;
  }

  #prsAyskant > #prsCategory > div {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 15px;
  }

  #prsAyskant > #prsCategory > div > a > img {
    width: 100%;
    height: 100%;
  }
  .prsP {
    font-family: "Lato", sans-serif;
    font-size: 36px;
    line-height: 1.2;
    color: #2e3337;
    font-weight: 400;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
  }

  #prsAyskant > #prsweekOffer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 15px;
    justify-content: space-between;
    /* margin-bottom: 400px; */
  }

  #prsAyskant > #prsweekOffer > a > div > img {
    width: 100%;
    margin: 0 0 20px 0;
    /* height: 286px; */
  }

  #prsAyskant > #prsweekOffer > a > h3 {
    text-align: left;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #2e3337;
    font-weight: 400;
    margin: 0 0 15px 0;
    /* margin-bottom: 40px; */
  }

  #prsAyskant > #prsweekOffer > a > h3 + button {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: #757575;
    font-weight: 400;
    padding: 8px 10px;
    border: 1px solid red;
    background-color: white;
    margin: 0 0 15px 0;
  }

  #prsAyskant > #prsweekOffer > a > div > p:nth-child(1) > span {
    text-decoration: line-through;
    color: #757575;
  }
  #prsAyskant > #prsweekOffer > a > div > p:nth-child(1) > span {
    text-decoration: line-through;
    color: #757575;
  }
  #prsAyskant > #prsweekOffer > a > div > p + p {
    font-size: 18px;
    margin: 0 0 15px 0;
  }

  #prsAyskant > #prsweekOffer > a > div + button {
    text-align: center;
    font-family: "Lato", sans-serif;
    width: 100%;
    font-size: 14px;
    line-height: 1.2;
    color: white;
    font-weight: 400;
    padding: 8px 10px;
    background-color: #333;
  }

  #prsAyskant > #prsTrendingOffers {
    font-family: "Lato", sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    justify-content: space-between;
    text-align: center;
  }

  #prsAyskant > #prsTrendingOffers > a > div > img {
    height: 100%;
    width: 100%;
    border-radius: 500000px;
    margin: 0 0 20px 0;
  }

  #prsAyskant > #prsTrendingOffers > a > div {
    padding: 5px 20px;
    font-size: 14px;
  }

  #prsAyskant > #prsTrendingOffers > a > div > h3 {
    color: #333;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0 0 15px 0;
  }

  #prsAyskant > #prsTrendingOffers > a > div > div > button {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    margin: 15px 0 15px 0;
  }

  #prsAyskant > #prsTrendingNow {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 15px;
  }

  #prsAyskant > #prsTrendingNow > div > a > img {
    width: 80%;
    text-align: center;
  }

  /* left hand side card */
  #prsAyskant > #prsTrendingNow > div > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 10px;
    justify-content: space-between;
  }

  #prsAyskant > #prsTrendingNow > div > div > a > div > img {
    width: 100%;
    margin: 0 0 20px 0;
  }

  #prsAyskant > #prsTrendingNow > div > div > a > h3 {
    text-align: left;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #2e3337;
    font-weight: 400;
    margin: 0 0 15px 0;
  }

  #prsAyskant > #prsTrendingNow > div > div > a > h3 + button {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    color: #757575;
    font-weight: 400;
    padding: 8px 10px;
    border: 1px solid red;
    background-color: white;
    margin: 0 0 15px 0;
  }
  #prsAyskant
    > #prsTrendingNow
    > div
    > div
    > a
    > div
    > p:nth-child(1)
    > span {
    text-decoration: line-through;
    color: #757575;
  }
  #prsAyskant > #prsTrendingNow > div > div > a > div > p + p {
    font-size: 18px;
    margin: 0 0 15px 0;
  }

  #prsAyskant > #prsTrendingNow > div > div > a > div + button {
    text-align: center;
    font-family: "Lato", sans-serif;
    width: 100%;
    font-size: 14px;
    line-height: 1.2;
    color: white;
    font-weight: 400;
    padding: 8px 10px;
    background-color: #333;
  }

  #prsAyskant > #prsBuyingNow {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
    justify-content: space-between;
    text-align: center;
  }

  #prsAyskant > #prsBuyingNow > a > div > img {
    width: 100%;
    margin: 0 0 20px 0;
  }

  #prsAyskant > #prsBuyingNow > a > h3 {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #2e3337;
    font-weight: 400;
    margin: 0 0 15px 0;
  }

  #prsAyskant > #prsBuyingNow > a > div > p {
    font-size: 18px;
    margin: 0 0 15px 0;
  }

  #prsAyskant > #prsBuyingNow > a > div + button {
    text-align: center;
    font-family: "Lato", sans-serif;
    width: 100%;
    font-size: 14px;
    line-height: 1.2;
    color: white;
    font-weight: 400;
    padding: 8px 10px;
    background-color: #333;
  }

  #prsAyskant > #prsbrandlogos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
    align-items: center;
  }

  #prsAyskant > #prsbrandlogos > a > img {
    width: 100%;
    display: flex;
    align-content: center;
  }

  /* #prsTheBlog */

  #prsAyskant > #prsTheBlog {
    font-family: "Lato", sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 10px;
    justify-content: space-between;
    text-align: center;
  }

  #prsAyskant > #prsTheBlog > a > div > img {
    height: 100%;
    width: 100%;
    border-radius: 500000px;
    margin: 0 0 20px 0;
  }

  #prsAyskant > #prsTheBlog > a > div {
    padding: 5px 20px;
    font-size: 14px;
  }

  #prsAyskant > #prsTheBlog > a > div > h3 {
    color: #333;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0 0 15px 0;
  }

  #prsAyskant > #prsTheBlog > a > div > div > button {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    margin: 15px 0 15px 0;
  }

  #prsAyskant > #prsbottomBanner > div > a > img {
    width: 100%;
    margin: 30px 0 60px 0;
    max-width: 100%;
  }
  #prsAyskant > #proTheBlog {
    font-family: "Lato", sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, auto);
    gap: 10px;
    justify-content: space-between;
    text-align: center;
  }

  #prsAyskant > #proTheBlog > a > div > img {
    height: 100%;
    width: 100%;
    border-radius: 500000px;
    margin: 0 0 20px 0;
  }

  #prsAyskant > #proTheBlog > a > div {
    padding: 5px 20px;
    font-size: 14px;
  }

  #prsAyskant > #proTheBlog > a > div > h3 {
    color: #333;
    font-family: "Lato", sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    margin: 0 0 15px 0;
  }

  #prsAyskant > #proTheBlog > a > div > div > button {
    font-family: "Lato", sans-serif;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 400;
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    margin: 15px 0 15px 0;
  }
  /* responsive */

  @media all and (min-width: 480px) and (max-width: 720px) {
    #prsAyskantMain {
      margin: 10px;
    }

    #prsAyskant {
      margin: auto;
      width: 95%;
    }
    #prsAyskant > #prsCategory > div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15px;
    }
    #prsAyskant > #prsweekOffer {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-auto-rows: 0;
      overflow-y: hidden;
      margin: auto;
      text-align: center;
      /* margin-bottom: 400px; */
    }
    #prsAyskant > #prsweekOffer > a > div > img {
      width: 80%;
      margin: 0 0 20px 0;
      /* height: 286px; */
    }
    #prsAyskant > #prsTrendingOffers {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, auto);
      gap: 10px;
      text-align: center;
      grid-auto-rows: 0;
      overflow-y: hidden;
    }
    #prsAyskant > #prsTrendingNow {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
      text-align: center;
    }
    #prsAyskant > #prsTrendingNow > div > a > img {
      text-align: left;
      width: 95%;
    }
    #prsAyskant > #prsBuyingNow {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      justify-content: space-between;
      text-align: center;
    }
    #prsAyskant > #prsbrandlogos {
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      justify-content: space-between;
      text-align: center;
      margin-top: 30px;
      align-items: center;
    }
    /* the prs/problog */
    #prsAyskant > #prsTheBlog {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, auto);
      gap: 10px;
      text-align: center;
      grid-auto-rows: 0;
      overflow-y: hidden;
    }
    #prsAyskant > #proTheBlog {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, auto);
      gap: 10px;
      text-align: center;
      grid-auto-rows: 0;
      overflow-y: hidden;
    }

    /* h3 center */
    #prsAyskant > #prsweekOffer > a > h3 {
      text-align: center;
    }
    #prsAyskant > #prsTrendingNow > div > div > a > h3 {
      text-align: center;
    }
    /* #prsAyskant>#button1{
      display: grid;
      width: 100%;
      height: 10px;
      grid-template-columns: repeat(4,1fr);
      gap: 20px;
      border: solid red 1px;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color:whitesmoke ;
      justify-content: space-evenly;

  }
  #prsAyskant>#button1>Button{
    width: 10%;
    height: 100%;
    background-color: grey;
    color: black;
  } */
  }

  @media all and (min-width: 350px) and (max-width: 479px) {
    #prsAyskantMain {
      margin: 10px;
    }

    #prsAyskant {
      margin: auto;
      width: 98%;
    }

    #prsAyskant > #prsCategory > div {
      grid-template-columns: repeat(2, 1fr);
      gap: 15px;
    }

    #prsAyskant > #prsweekOffer {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-auto-rows: 0;
      overflow-y: hidden;
      margin: auto;
      text-align: center;
      /* margin-bottom: 400px; */
    }

    #prsAyskant > #prsweekOffer > a > div > img {
      width: 80%;
      margin: 0 0 20px 0;
      /* height: 286px; */
    }

    #prsAyskant > #prsTrendingOffers {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, auto);
      gap: 10px;
      text-align: center;
      grid-auto-rows: 0;
      overflow-y: hidden;
    }

    #prsAyskant > #prsTrendingNow {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(1, 1fr);
      text-align: center;
    }

    #prsAyskant > #prsTrendingNow > div > a > img {
      text-align: left;
      width: 95%;
    }

    #prsAyskant > #prsBuyingNow {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      justify-content: space-between;
      text-align: center;
    }

    #prsAyskant > #prsbrandlogos {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, auto);
      gap: 30px;
      justify-content: space-between;
      text-align: center;
      margin-top: 30px;
      align-items: center;
    }

    #prsAyskant > #prsTheBlog {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, auto);
      gap: 10px;
      text-align: center;
      grid-auto-rows: 0;
      overflow-y: hidden;
    }
    #prsAyskant > #proTheBlog {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, auto);
      gap: 10px;
      text-align: center;
      grid-auto-rows: 0;
      overflow-y: hidden;
    }
    /* h3 center */
    #prsAyskant > #prsweekOffer > a > h3 {
      text-align: center;
    }

    #prsAyskant > #prsTrendingNow > div > div > a > h3 {
      text-align: center;
    }
  }
  #frag {
    width: 100%;
    height: 500px;
  }

  /*sAyskant section end! */